<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link href="menu.css" rel="stylesheet">
    <link href="navbar.css" rel="stylesheet">
  <title>Medical Cases</title>
 </head>
<body>
<form action="/create-checkout-session" method="POST">
  <input type="number" name="amount" placeholder="Enter amount" required>
  <button type="submit">Donate</button>
</form>
</body>
</html>
