
  <nav>
   <ul class="nav-links">
      <!--<li><a href="/clinicDashbord">Add a medical case</a></li>-->
      <li><a href="/patient_account">Create a patient account</a></li>
    <li><a href="/Medical_cases">Medical Cases</a></li>
     <li><a href="/Donators">Donators</a></li>
    <li> <a href="/logout">Logout</a></li>
    
    </ul>
</nav>
