
  <nav>
   

    <!-- Part 2: Links -->
    <ul class="nav-links">
      <!--<li><a href="/clinicDashbord">Add a medical case</a></li>-->
      <li><a href="/patient_profile">profile</a></li>
     <li><a href="/PatientDashbord">Donations</a></li>
    <li> <a href="/logout">Logout</a></li>
    
    </ul>

  </nav>
